# Remote APIs
HUGGINGFACE_TOKEN=""
ELEVENLABS_API_KEY=""

# LangFuse
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""

# OpenAI
OPENAI_API_KEY=""
OPENAI_ADMIN_KEY=""

# LangWatch
LANGWATCH_API_KEY=""

# ConfidentAI
CONFIDENTAI_API_KEY=""

# DockerHub
DOCKERHUB_PASSWORD=""

# PostgreSQL
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# Vapi service
VAPI_PRIVATE_KEY=""
VAPI_PUBLIC_KEY=""

# Sentry
SENTRY_DSN=""
