# Python virtual environments and cache files
.venv/
__pycache__/
.Python
*.pyc

# macOS system files
.DS_Store

# Application
build/
dist/

# Deepeval
.deepeval

# Environment variables
.env

# Node modules
**/node_modules/

# Docker
docker/storage/

# Temporary files
tmp/voice/

# Personal notes
docs/personal
